List

In [ ]:
# 빈 리스트 선언하기
animals = []

In [ ]:
animals = ['cat', 'dog', 'hamster']
animals

['cat', 'dog', 'hamster']

In [ ]:
animals.append('lion')
print(animals)
animals.pop()
print(animals)

['cat', 'dog', 'hamster', 'lion']
['cat', 'dog', 'hamster']

In [ ]:
animals.insert(1, 'tiger')
animals

['cat', 'tiger', 'dog', 'hamster']

In [ ]:
animals.sort()
animals

['cat', 'dog', 'hamster', 'tiger']

In [ ]:
numbers = [0, 100, -1, 23, -40, -10]
numbers.sort(reverse=True)
numbers

[100, 23, 0, -1, -10, -40]

In [ ]:
numbers

[100, 23, 0, -1, -10, -40]

In [ ]:
numbers.index(0)

2

In [ ]:
numbers[:numbers.index(0)]

[100, 23]

In [ ]:
numbers.extend([1, 2, 3])
numbers

[100, 23, 0, -1, -10, -40, 1, 2, 3]

In [ ]:
0 in numbers

True

In [ ]:
6 not in numbers

True

In [ ]:
if 0 in numbers:
  print("0 is in numbers")
else:
  print("0 is not in numbers")

0 is in numbers

In [ ]:
tuple1 = (5, 6)
tuple2 = (1, 2)
print(tuple1 + tuple2)

(5, 6, 1, 2)

In [ ]:
x = 1;
y = -1;
tmp = y;
y = x;
x = tmp;

print(x, y)

-1 1

In [ ]:
(x, y) = (y, x)
print(x, y)

1 -1

In [ ]:
list((1, 2))

[1, 2]

In [ ]:
tuple([1, 2])

(1, 2)

In [ ]:
animals = ['rabbit', 'cat', 'dog', 'aligator', 'tiger', 'lion']
animals.append('panda')
animals.append('bird')
animals.append('bear')
print(animals)
animals.sort(reverse=True)
print(animals)
even_animals = animals[::2]
print(even_animals)

t1 = ('rabbit', 'cat', 'dog', 'aligator', 'tiger', 'lion')
t2 = ('panda', 'bird', 'bear')
t3 = t1 + t2
print(t3)
t4 = t3[::2]
print(t4)

['rabbit', 'cat', 'dog', 'aligator', 'tiger', 'lion', 'panda', 'bird', 'bear']
['tiger', 'rabbit', 'panda', 'lion', 'dog', 'cat', 'bird', 'bear', 'aligator']
['tiger', 'panda', 'dog', 'bird', 'aligator']
('rabbit', 'cat', 'dog', 'aligator', 'tiger', 'lion', 'panda', 'bird', 'bear')
('rabbit', 'dog', 'tiger', 'panda', 'bear')

In [ ]:
dict1 = {}
print(dict1)

{}

In [ ]:
dict2 = {
    'name': 'John', 
    'surname': 'Doe',
}
#Trailing comma
print(dict2)

{'name': 'John', 'surname': 'Doe'}

In [ ]:
dict2['name']

'John'

In [ ]:
another_dict = dict([('name', 'John'), ('surname', 'Doe')])
another_dict

{'name': 'John', 'surname': 'Doe'}

In [ ]:
dict2['locale'] = 'Seoul, Korea'
dict2

{'name': 'John', 'surname': 'Doe', 'locale': 'Seoul, Korea'}

In [ ]:
dict2['email'] = 'johndoe@gmail.com'
dict2

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe@gmail.com'}

In [ ]:
dict2['mid-term'] = {}
dict2

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe@gmail.com',
 'mid-term': {}}

In [ ]:
dict2['mid-term']['Korean'] = 80
dict2

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe@gmail.com',
 'mid-term': {'Korean': 80}}

In [ ]:
dict2['mid-term']['Math'] = 60
dict2['mid-term']['English'] = 70
dict2['mid-term']['Science'] = [35, 40, 30, 50]
dict2

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe@gmail.com',
 'mid-term': {'Korean': 80,
  'Math': 60,
  'English': 70,
  'Science': [35, 40, 30, 50]}}

In [ ]:
dict2['mid-term']['English'] = 90
dict2

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'email': 'johndoe@gmail.com',
 'mid-term': {'Korean': 80,
  'Math': 60,
  'English': 90,
  'Science': [35, 40, 30, 50]}}

In [ ]:
del dict2['email']

In [ ]:
dict2

{'name': 'John',
 'surname': 'Doe',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korean': 80,
  'Math': 60,
  'English': 90,
  'Science': [35, 40, 30, 50]}}

In [ ]:
dict2.keys()

dict_keys(['name', 'surname', 'locale', 'mid-term'])

In [ ]:
dict2.values()

dict_values(['John', 'Doe', 'Seoul, Korea', {'Korean': 80, 'Math': 60, 'English': 90, 'Science': [35, 40, 30, 50]}])

In [ ]:
dict2.items()

dict_items([('name', 'John'), ('surname', 'Doe'), ('locale', 'Seoul, Korea'), ('mid-term', {'Korean': 80, 'Math': 60, 'English': 90, 'Science': [35, 40, 30, 50]})])

In [ ]:
dict2.pop('surname')

'Doe'

In [ ]:
dict2

{'name': 'John',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korean': 80,
  'Math': 60,
  'English': 90,
  'Science': [35, 40, 30, 50]}}

In [ ]:
dict2

{'name': 'John',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korean': 80,
  'Math': 60,
  'English': 90,
  'Science': [35, 40, 30, 50]}}

In [ ]:
dict2.get('English', 0)

0

In [ ]:
dict2.get('English', None)

In [ ]:
dict2.setdefault('spanish', 0)

0

In [ ]:
dict2

{'name': 'John',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korean': 80,
  'Math': 60,
  'English': 90,
  'Science': [35, 40, 30, 50]},
 'spanish': 0}

In [ ]:
dict2

{'name': 'John',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korean': 80,
  'Math': 60,
  'English': 90,
  'Science': [35, 40, 30, 50]},
 'spanish': 0,
 'Science': None,
 'hi': 0}

In [ ]:
len(dict2)

6

In [ ]:
dict2.update({'name': 'Jane', 'locale': 'NY, USA'})

In [ ]:
dict2

{'name': 'Jane',
 'locale': 'NY, USA',
 'mid-term': {'Korean': 80,
  'Math': 60,
  'English': 90,
  'Science': [35, 40, 30, 50]},
 'spanish': 0,
 'Science': None,
 'hi': 0}

In [ ]:
contact = {
    'name': 'John Doe',
    'country': 'Netherland',
}

print(f"Hello, {contact['name']}, You are from {contact['country']}".format(**contact))

Hello, John Doe, You are from Netherland

In [ ]:
contact

{'name': 'John Doe', 'country': 'Netherland'}

In [ ]:
contact = {
    'name': 'John Doe',
    'country': 'Netherland',
}

print("Hello, {name}, You are from {country}".format(**contact))

Hello, John Doe, You are from Netherland

In [ ]:
A = set('fastcampus')
B = set('python')
print(A | B)
print(A & B)
print(A - B)
print(A ^ B)

{'h', 's', 'u', 'a', 'f', 't', 'c', 'm', 'y', 'n', 'o', 'p'}
{'t', 'p'}
{'s', 'u', 'a', 'f', 'c', 'm'}
{'s', 'u', 'a', 'f', 'c', 'm', 'y', 'n', 'o', 'h'}

In [ ]:
faang = {'facebook', 'apple', 'amazon', 'netflix', 'google'}
print(faang)

{'facebook', 'apple', 'google', 'amazon', 'netflix'}

In [ ]:
split_str = set('facebook')
print(split_str)

{'k', 'a', 'f', 'e', 'c', 'b', 'o'}

In [133]:
cities = [
'Daejeon', 'Ulsan', 'Seoul', 'Jeju',
'Busan', 'Ulsan', 'Daegu', 'Daejeon',
'Seoul', 'Seoul', 'Daejeon', 'Gwangju',
'Busan', 'Daegu', 'Gwangju', 'Daejeon',
'Ulsan', 'Jeju', 'Gwangju', 'Seoul'
]

cities = set(cities)
cities = list(cities)
cities.sort(reverse=True)
print(cities)

['Ulsan', 'Seoul', 'Jeju', 'Gwangju', 'Daejeon', 'Daegu', 'Busan']

In [137]:
n = int(input("숫자를 입력하세요: "))

for i in range(1, n + 1):
  if (i % 15 == 0):
    print("fizzbuzz")
  elif (i % 3 == 0):
    print("fizz")
  elif (i % 5 == 0):
    print("buzz")
  else:
    print(i)

숫자를 입력하세요: 15
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

In [172]:
n = int(input("숫자를 입력하세요: "))

for i in range(1, n + 1):
  if (i % 3 == 0 or i % 5 == 0):
    print("fizz" * (i % 3 == 0) + "buzz" * (i % 5 == 0))
  else:
    print(i)

숫자를 입력하세요: 15
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

In [175]:
n = int(input("숫자를 입력하세요: "))

for i in range(1, n + 1):
  print(
      'fizzbuzz' if i % 15 == 0 else
      'fizz' if i % 3 == 0 else
      'buzz' if i % 5 == 0 else
      i
  )

숫자를 입력하세요: 15
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

In [139]:
cost = int(input("제품 가격을 입력하세요: "))
country = input("거주하고 계시는 나라를 입력하세요: ")


if country == "Korea":
  print(cost, cost * 0.1 + cost)
elif country == "Japan":
  print(cost, cost * 0.08 + cost)
elif country == "USA":
  print(cost, "depend on state")
elif country == "UK":
  print(cost, cost * 0.2 + cost)

제품 가격을 입력하세요: 1000
거주하고 계시는 나라를 입력하세요: UK
1000 1200.0

Conditional Expression<br>
Ternary Operator

In [140]:
"a" if True else "b"

'a'

In [141]:
"a" if False else "b"

'b'

In [143]:
numbers = [1, 3, 5, 7, 9]
num = 0
"odd" if num in numbers else "even"

'even'

In [145]:
weekdays = ['t', 'w', 't', 'f']
user_input = 'w'

"weekday" if user_input in weekdays else "what the" if user_input == "n" else "weekend"

'weekday'

In [147]:
year = int(input("년도를 입력하세요 "))

if year % 4 == 0:
  if year % 400 != 0 and year % 100 == 0:
      print("윤년이 아니다.")
  else:
      print("윤년이다.")

년도를 입력하세요2400
윤년이다.

Loop<br>
For, While Statement

In [148]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [150]:
for i in range(1, 10 + 1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [154]:
for c in "ShinhanProDigitalAcademy":
  print(c, end=' ')

S h i n h a n P r o D i g i t a l A c a d e m y

In [155]:
for item in ['cat', 'dog', 'hamster']:
  print(f'{item} is so cute!!!')

cat is so cute!!!
dog is so cute!!!
hamster is so cute!!!

In [157]:
for i in range(1, 100 + 1):
  if i % 2 == 0 or i % 3 == 0:
    continue
  elif (i % 17 == 0):
    break
  else:
    print(f'{i} is survived')

1 is survived
5 is survived
7 is survived
11 is survived
13 is survived

In [160]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [164]:
user_input = ""

while user_input != "taco":
  user_input = input("What do you want for dinner? ")
  if user_input != 'taco':
    print('Not like that!!')
  else:
    print('That is what I wanted!')

What do you want for dinner? taco
That is what I wanted!